<div class="nav__menu">
  <div class="nav__bar nav__bar--1" style="background-color: {{fontColor}}">
  </div>
  <div class="nav__bar nav__bar--2" style="background-color: {{fontColor}}">
  </div>
  <div class="nav__bar nav__bar--3" style="background-color: {{fontColor}}">
  </div>
</div>